@media (min-width:768px) {



    .nav__menu {
        display: none;
    }

    .nav__list {
        position: static;
        background-color: transparent;
        padding: 0;

        display: flex;
        gap: 2rem;

        list-style: none;

        transform: unset;
        transition: none;
    }

    .nav__list--show {
        transform: unset;
    }

    .nav__link {
        color: var(--orange);
    }

    /* hero-main */

    .hero__main {
        flex-direction: row;
        gap: 40px;
        min-height: 550px;
        align-items: center;
    }

    .hero__figure {
        order: 0;
        padding: 0;
        width: 46%;
    }

    .hero__img {
        max-width: 450px;
    }

    .hero__texts {
        width: 54%;
        text-align: start;
        gap: 2rem;
        padding-bottom: 0;
    }

    .hero__title {
        font-size: 3rem;
    }

    .hero__paragraph {
        margin-bottom: 0;
    }

    .hero__cta {
        justify-self: start;
    }


    /* about */

    .about__container {
        flex-direction: row;
    }

    .about__figure {
        width: 30%;
    }

    .about__img {
        width: 100%;
    }


    .about__texts {
        width: 70%;
        text-align: start;
        place-content: center;
    }

    .subtitle {
        text-align: inherit;
        font-size: 2.5rem;
    }


    /* learn */

    .learn {
        text-align: center;
    }

    .learn__articles {
        gap: 2rem;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .learn__article {
        gap: 1.5rem;
    }

    /* sponsor */

    .sponsor {
        text-align: start;
    }

    .sponsor__main {
        display: flex;
        gap: 3rem;
        align-items: center;
    }

    .sponsor__figure {
        width: 45%;
    }

    .sponsor__img {
        max-width: 400px;
    }

    .sponsor__texts {
        width: 55%;
        place-content: center;
        margin-bottom: 0;
    }

    .sponsor__cta {
        justify-self: start;

    }

    /* statistics */

    .statistics__title {
        font-size: 4.5rem;
    }



    /* footer */

    .footer {
        text-align: center;
    }



}